[submodule "external_tools/IsaacLab"]
	path = external_tools/IsaacLab
	url = https://github.com/isaac-sim/IsaacLab.git
[submodule "external_tools/point_net"]
	path = external_tools/point_net
	url = https://github.com/yanx27/Pointnet_Pointnet2_pytorch.git
